@charset "UTF-8";
/*
* reset
*/
dl {
  margin: 0;
  padding: 0;
}

pre {
  padding: 0.5rem;
  overflow: auto;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 3rem 5rem;
}

pre {
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
}

/*
* add
*/
.site-title {
  font-size: 3.5rem;
  line-height: 1;
  margin: 0.5rem 0;
}

.created_at::before {
  content: "作成日：";
}

.modified_at::before {
  content: "更新日：";
}

.item {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
}

.pagination {
  margin: 2rem 0;
}

.backlink {
  margin-top: 5rem;
}

.footer-navi {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1rem;
  }
  .site-title {
    font-size: 3rem;
  }
}