{% extends "base.html" %}

{% block content %}   
{% for page in paginator.pages %}
  <dl class="item">
    <dt>
      <div class="created_at">
        <time>{{ page.date | date(format="%Y.%m.%d %H:%M:%S %a.") }}</time>
      </div>
      {% if page.updated %}
      <div class="modified_at">
        <time>{{ page.updated | date(format="%Y.%m.%d %H:%M:%S %a.") }}</time>
      </div>
      {% endif %}
    </dt>
    <dd>
        <h2>{{ page.title }}</h2>
        {{ page.content | safe }}
    </dd>
  </dl>
{% endfor %}

<nav class="pagination">
  {% if paginator.previous %}
      <a class="previous" href="{{ paginator.previous }}">&lt; 未来</a>
  {% endif %}
  {% if paginator.next %}
      <a class="next" href="{{ paginator.next }}">過去 &gt;</a>
  {% endif %}
</nav>
{% endblock content %}