<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGデナシ</title>
    <link rel="stylesheet" href="/style.css" media="screen">
    <link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/38547890?s=60&v=4">
</head>
<body>
    <header>
        <h1 class="site-title">LOGデナシ</h1>
        <div class="version">ver.4{# 一日続いたらインクリメント #}</div>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <small>&copy;suhirock</small>
    </footer>
</body>
</html>