/*
* reset
*/
.design-system__table{
    width: 100%;
    margin-top: 1rem;
    border-top: 1px solid #ccc;
}
.design-system__table th{
    text-align: left;
    border-right: 1px solid #ccc;
    width: 15%;
}
.design-system__table th,
.design-system__table td{
    padding: 2rem;
}
.design-system__table td:nth-child(2){
    width: 20%;
}
.design-system__table textarea{
    padding: 1rem;
}